.img{
    width: 80px;
    margin: 10px;
}
.banner{
    height: 300px;
    margin-left: 2px;
}
.button{
    color: black;
    background-color: grey;
}
.col-2, .col-1, .col-3{
    font-size: 12px;
}
.col-2 p, .col-1 p, .col-3 p{
    margin: 0px;
}